body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    height: 50px;
    width: auto;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

input[type="number"], input[type="text"], input[type="password"], input[type="email"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

.table-container {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f1f1f1;
    color: #333;
}

td {
    background-color: #fafafa;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

.selector-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selector-group label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

#user-type {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
}

.login-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #0056b3;
}

.login-btn:active {
    transform: scale(0.98);
}
